{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ user.name }} {{ user.surname }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.min.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $(this).scrollTop(0);
        });
    </script>
    <style>
        #about {
            background-image: url("{% static 'media/images/background/pexels-gabriel-peter-696644.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        #portfolioBody {
            background-image: url("{% static 'media/images/background/pexels-rahul-pandit-1933900.jpg' %}");
        }
    </style>
</head>
<body id="portfolioBody" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

    {% include 'portfolio/navbar.html' %}

    {% block content %}

    {% endblock content %}

</body>
</html>