{% extends 'portfolio/base.html' %}
{% block content %}

<div class="container bg-dark mt-lg-5 text-light">

        <div id="about" class="col-sm-12">
            <h1 class="text-info">About me</h1>
            <div class="d-flex flex-wrap">
                <div class="p-0 col-sm-4">
                    <img src="{{ user.picture }}" class="rounded float-start img-fluid" alt="not found"/>
                </div>
                <div class="container border-dark p-0">
                    <h3 class="text-danger">Hi, I'm {{ user.name }}!</h3>
                    <p class="text-light">{{ user.bio }}</p>
                </div>
            </div>
        </div>

        <div id="programming" class="col-sm-12">

            <h2 class="text-info">Languages</h2>
            <details open>
                <summary></summary>
                <div class="d-flex flex-wrap border-dark">
                    {% for language in languages %}
                            <div class="p-2 card bg-dark border-dark" data-bs-toggle="modal" data-bs-target="#{{ language.language }}_modal">
                                <img src="{{ language.avatar }}" class="rounded float-start img-fluid" alt="not found"
                                     title="{{ language.language }}" data-bs-toggle="tooltip" >

                                <div class="modal fade" id="{{ language.language }}_modal">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content text-black">

                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h4 class="modal-title">{{ language.language }}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                          </div>

                                          <!-- Modal body -->
                                          <div id="{{ language.language }}_body" class="modal-body">
                                              {{ language.confidence }}
                                          </div>

                                          <!-- Modal footer -->
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                          </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <script type="text/javascript">
                                if ("{{ language.confidence }}" === "Confident") {
                                    document.getElementById("{{ language.language }}_body").innerHTML =
                                        "<i class=\"fa fa-check-square-o\"> {{ language.confidence }}</i>";
                                } else if ("{{ language.confidence }}" === "Partially confident") {
                                    document.getElementById("{{ language.language }}_body").innerHTML =
                                        "<i class=\"fa fa-check\"> {{ language.confidence }}</i>";
                                } else {
                                    document.getElementById("{{ language.language }}_body").innerHTML =
                                        "<i class=\"fa fa-info-circle\"> {{ language.confidence }}</i>";
                                }
                            </script>

                    {% endfor %}
                </div>
            </details>
            <h2 class="mt-3 text-info">Frameworks</h2>
            <details open>
                <summary></summary>
                <div class="d-flex flex-wrap border-dark">
                    {% for framework in frameworks %}
                        <div class="p-2 card bg-dark border-dark" data-bs-toggle="modal" data-bs-target="#{{ framework.framework }}_modal">
                            <img src="{{ framework.avatar }}" class="rounded float-start img-fluid" alt="not found"
                                 title="{{ framework.framework }}" data-bs-toggle="tooltip">

                            <div class="modal fade" id="{{ framework.framework }}_modal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content text-black">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">{{ framework.framework }}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                      </div>

                                      <!-- Modal body -->
                                      <div id="{{ framework.framework }}_body" class="modal-body">
                                          {{ framework.confidence }}
                                      </div>

                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                      </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <script type="text/javascript">
                            if ("{{ framework.confidence }}" === "Confident") {
                                document.getElementById("{{ framework.framework }}_body").innerHTML =
                                    "<i class=\"fa fa-check-square-o\"> {{ framework.confidence }}</i>";
                            } else if ("{{ language.confidence }}" === "Partially confident") {
                                document.getElementById("{{ framework.framework }}_body").innerHTML =
                                    "<i class=\"fa fa-check\"> {{ framework.confidence }}</i>";
                            } else {
                                document.getElementById("{{ framework.framework }}_body").innerHTML =
                                    "<i class=\"fa fa-info-circle\"> {{ framework.confidence }}</i>";
                            }
                        </script>

                    {% endfor %}
                </div>
            </details>
            <h2 class="mt-3 text-info">Databases</h2>
            <details open>
                <summary></summary>
                <div class="d-flex flex-wrap border-dark">
                    {% for database in databases %}
                        <div class="p-2 card bg-dark border-dark" data-bs-toggle="modal" data-bs-target="#{{ database.dbms }}_modal">
                            <img src="{{ database.avatar }}" class="rounded float-start img-fluid" alt="not found"
                                 title="{{ database.dbms }}" data-bs-toggle="tooltip">

                            <div class="modal fade" id="{{ database.dbms }}_modal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content text-black">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">{{ database.dbms }}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                      </div>

                                      <!-- Modal body -->
                                      <div id="{{ database.dbms }}_body" class="modal-body">
                                          <i class="fa fa-check-square-o"> {{ database.confidence }}</i>
                                      </div>

                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                      </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <script type="text/javascript">
                            if ("{{ database.confidence }}" === "Confident") {
                                document.getElementById("{{ database.dbms }}_body").innerHTML =
                                    "<i class=\"fa fa-check-square-o\"> {{ database.confidence }}</i>";
                            } else if ("{{ database.confidence }}" === "Partially confident") {
                                document.getElementById("{{ database.dbms }}_body").innerHTML =
                                    "<i class=\"fa fa-check\"> {{ database.confidence }}</i>";
                            } else {
                                document.getElementById("{{ database.dbms }}_body").innerHTML =
                                    "<i class=\"fa fa-info\"> {{ database.confidence }}</i>";
                            }
                        </script>

                    {% endfor %}
                </div>
            </details>

        </div>

        <div id="info">
            <div class="col-sm-12">
            <h2 class="text-info">Hobbies</h2>
            <details open>
                <summary></summary>
                <div class="d-flex flex-wrap border-dark">
                    {% for hobby in hobbies %}
                        <div class="p-2 card bg-dark border-dark">
                            <img src="{{ hobby.avatar }}" class="rounded float-start img-fluid" alt="not found"
                                 title="{{ hobby.hobby }}" data-bs-toggle="tooltip" data-trigger="focus">
                        </div>
                    {% endfor %}
                </div>
            </details>
            </div>

            <div class="col-sm-8">
                <h2 class="mt-3 text-info">Education</h2>
                <details open>
                    <summary></summary>
                    <div class="container border-dark">
                        {% for degree in degrees %}
                            <dl>
                                <dt class="text-danger">{{ degree.degree }}</dt>
                                <div class="d-flex">
                                    <div class="p-2">
                                        <table class="table table-dark table-hover table-borderless table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Institution</th>
                                                    {% if degree.grade %}
                                                        <th>Grade</th>
                                                    {% endif %}
                                                    <th>Year</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ degree.institution }}</td>
                                                    <td>
                                                        {% if degree.grade %}
                                                            {{ degree.grade }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ degree.year }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </dl>
                        {% endfor %}
                    </div>
                </details>
                <h2 class="mt-3 text-info">Projects</h2>
                <details open>
                    <summary></summary>
                    <div class="container border-dark">
                        {% for project in projects %}
                        <dl>
                            <dt class="text-danger">{{ project.description }}</dt>
                            <div class="d-flex">
                                <div class="p-2">
                                    <li><a href="{{ project.link }}" target="_blank">Homepage</a></li>
                                    <li><a href="{{ project.git }}" target="_blank">Github</a></li>
                                </div>
                            </div>
                        </dl>
                        {% endfor %}
                    </div>
                </details>
                <h2 class="mt-3 text-info">Strengths</h2>
                <details open>
                    <summary></summary>
                    <div class="container border-dark">
                        <dl>
                            {% for skill in skills %}
                                <li>{{ skill.skill }}</li>
                            {% endfor %}
                        </dl>
                    </div>
                </details>
                <h2 class="mt-3 text-info">Experience</h2>
                <details open>
                    <summary></summary>
                    <div class="container border-dark">
                        {% for job in jobs %}
                            <dl>
                                <dt class="text-danger">{{ job.description }}</dt>
                                <div class="d-flex">
                                    <div class="p-2">
                                        <dd><strong>Company:</strong> {{ job.company }}</dd>
                                    </div>
                                </div>
                            </dl>
                        {% endfor %}
                    </div>
                </details>
                <h2 class="mt-3 text-info">Contact</h2>
                <details open>
                    <summary></summary>
                    <div class="container border-dark">
                        <dl>
                            <dd><i class="fa fa-envelope text-danger"></i> {{ user.email }}</dd>
                            <dd><i class="fa fa-phone-square text-danger"></i> {{ user.number }}</dd>
                        </dl>
                    </div>
                </details>
            </div>
        </div>

</div>

{% endblock content %}