{% extends 'portfolio/base.html' %}
{% block content %}

{#    <div id="home" class="site-wrapper">#}

      <div id="home" class="d-flex flex-column justify-content-center">

        <div class="container">

{#          <div class="inner cover" style="text-align: center; align-content: center; align-items: center; justify-content: center; justify-items: center; vertical-align: center;">#}
          <div class="inner cover" style="text-align: center;">
              <h1 id="cover-page-heading-1" class="mx-auto mt-2 mb-5 text-uppercase">Christiaan Slabbert</h1>
              <h2 id="cover-page-heading-2" class="mx-auto">Full Stack Developer</h2>
              <br>

{#            <h1 id="cover-pageheading-1" class="cover-heading text-uppercase text-white">Christiaan Slabbert</h1>#}
{#            <p id="cover-page-heading-2" class="lead">Fullstack Developer</p>#}
{#            <p class="lead">#}
            <a class="btn btn-primary js-scroll-trigger text-uppercase text-white" href="#about">Learn more</a>
{#            </p>#}
          </div>

        </div>

      </div>

{#    </div>#}

<div class="d-flex flex-column">

    <div id="about" class="p-6 text-light">
        <div class="container col-lg-12" style="height: 100%; width: 100%;">
            <div id="about-inner" class="d-flex flex-column flex-wrap align-items-center">
                <h1 class="p-0 text-info text-uppercase mb-0" style="opacity:0.8; font-weight: 800; filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">About me</h1>
                <div class="p-0 float-start col-sm-4" style="transform: scale(0.90, 0.90);">
                    <img src="{{ user.picture }}" class="rounded-circle img-fluid" alt="not found" style="filter:contrast(140%) drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));"/>
                </div>
            </div>
            <div class="d-flex flex-column flex-wrap">
                <p class="p-0 masthead-subheading font-weight-light mb-0" style="white-space: nowrap; text-align: center; font-size: 1.25rem; text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5), 2px 2px 4px #000000; color: lightyellow;">Full Stack Developer</p>
                <div class="p-0 divider-custom mb-0">
                    <div class="line-heading text-light"></div>
                    <div class="star"><i class="fa fa-star"></i></div>
                    <div class="line-heading text-light"></div>
                </div>
                <h3 class="text-danger" style="white-space: nowrap; text-align: center; font-size: 2.75rem; line-height: 2.75rem; text-shadow: 0 1px 1px #1A237E, 2px 2px 4px #000000;">Hi, I'm {{ user.name }}!</h3>
                <div class="p-0">
                    <p class="text-light" style="text-align: center;">{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="programming" class="p-6">

        <div class="container col-lg-12">

        <spicy-sections>

            <h2 class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Languages</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <div class="d-flex flex-wrap">
                {% for language in languages %}

                    <div class="p-2 card" style="background: inherit; border: none;">

                        <img id="img{{ language.id }}" src="{{ language.avatar }}" class="rounded img-fluid hover-shadow" alt="{{ language.language }}" style="filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));">

                        <div class="content">
                            <h3 style="text-align: center;">{{ language.language }}</h3>
                            <p id="langPar{{ language.id }}" style="font-size: 16px; text-align: center;"></p>
                        </div>

                    </div>

                    <script type="text/javascript">
                        if ("{{ language.confidence }}" === "Confident") {
                            document.getElementById("langPar{{ language.id }}").innerHTML =
                                "<i class=\"fa fa-check-square-o\"> {{ language.confidence }}</i>";
                        } else if ("{{ language.confidence }}" === "Partially confident") {
                            document.getElementById("langPar{{ language.id }}").innerHTML =
                                "<i class=\"fa fa-check\"> {{ language.confidence }}</i>";
                        } else {
                            document.getElementById("langPar{{ language.id }}").innerHTML =
                                "<i class=\"fa fa-info-circle\"> {{ language.confidence }}</i>";
                        }
                    </script>

                {% endfor %}

            </div>
            </div>

            <h2 class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Frameworks</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <div class="d-flex flex-wrap">
                {% for framework in frameworks %}
                    <div class="p-2 card" style="background: inherit; border: none;">
                        <img src="{{ framework.avatar }}" class="rounded img-fluid hover-shadow" alt="{{ framework.framework }}" style="filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));">

                        <div class="content">
                            <h3 style="text-align: center;">{{ framework.framework }}</h3>
                            <p id="framePar{{ framework.id }}" style="font-size: 16px; text-align: center;"></p>
                        </div>

                    </div>

                    <script type="text/javascript">
                        if ("{{ framework.confidence }}" === "Confident") {
                            document.getElementById("framePar{{ framework.id }}").innerHTML =
                                "<i class=\"fa fa-check-square-o\"> {{ framework.confidence }}</i>";
                        } else if ("{{ language.confidence }}" === "Partially confident") {
                            document.getElementById("framePar{{ framework.id }}").innerHTML =
                                "<i class=\"fa fa-check\"> {{ framework.confidence }}</i>";
                        } else {
                            document.getElementById("framePar{{ framework.id }}").innerHTML =
                                "<i class=\"fa fa-info-circle\"> {{ framework.confidence }}</i>";
                        }
                    </script>

                {% endfor %}
            </div>
            </div>

            <h2 class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Databases</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <div class="d-flex flex-wrap">
                {% for database in databases %}
                    <div class="p-2 card" style="background: inherit; border: none;">
                        <img src="{{ database.avatar }}" class="rounded img-fluid hover-shadow" alt="{{ database.dbms }}" style="filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));">

                        <div class="content">
                            <h3 style="text-align: center;">{{ database.dbms }}</h3>
                            <p id="dbPar{{ database.id }}" style="font-size: 16px; text-align: center;"></p>
                        </div>

                    </div>

                    <script type="text/javascript">
                        if ("{{ database.confidence }}" === "Confident") {
                            document.getElementById("dbPar{{ database.id }}").innerHTML =
                                "<i class=\"fa fa-check-square-o\"> {{ database.confidence }}</i>";
                        } else if ("{{ database.confidence }}" === "Partially confident") {
                            document.getElementById("dbPar{{ database.id }}").innerHTML =
                                "<i class=\"fa fa-check\"> {{ database.confidence }}</i>";
                        } else {
                            document.getElementById("dbPar{{ database.id }}").innerHTML =
                                "<i class=\"fa fa-info\"> {{ database.confidence }}</i>";
                        }
                    </script>

                {% endfor %}
            </div>
            </div>

            <h2 class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Tools</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <div class="d-flex flex-wrap">
                {% for tool in tools %}
                    <div class="p-2 card" style="background: inherit; border: none;">
                        <img src="{{ tool.avatar }}" class="rounded img-fluid hover-shadow" alt="{{ tool.tool }}" style="filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));">

                        <div class="content">
                            <h3 style="text-align: center;">{{ tool.tool }}</h3>
                            <p id="toolPar{{ tool.id }}" style="font-size: 16px; text-align: center;"></p>
                        </div>

                    </div>

                    <script type="text/javascript">
                        if ("{{ tool.confidence }}" === "Confident") {
                            document.getElementById("toolPar{{ tool.id }}").innerHTML =
                                "<i class=\"fa fa-check-square-o\"> {{ tool.confidence }}</i>";
                        } else if ("{{ tool.confidence }}" === "Partially confident") {
                            document.getElementById("toolPar{{ tool.id }}").innerHTML =
                                "<i class=\"fa fa-check\"> {{ tool.confidence }}</i>";
                        } else {
                            document.getElementById("toolPar{{ tool.id }}").innerHTML =
                                "<i class=\"fa fa-info\"> {{ tool.confidence }}</i>";
                        }
                    </script>

                {% endfor %}
            </div>
            </div>

        </spicy-sections>

        </div>

        <br>

    </div>

    <div id="projects" class="p-6 text-light">
        <div class="container col-lg-12">
            <h2 class="text-info" style="font-weight: 800; drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Projects</h2>
                {% for project in projects %}
                    <div class="divider-light divider-custom">
                        <div class="line text-light"></div>
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="line text-light"></div>
                    </div>
                    <div class="d-block">
                        <dt class="text-danger" style="font-size: 1.25rem; text-shadow: 0 1px 1px #1A237E, 2px 2px 4px #000000;">{{ project.title }}</dt>
                        <div class="d-flex">
                            <div class="p-2">
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-0">
                                <ul>
                                <li class="portfolioList"><a href="{{ project.link }}" target="_blank">Homepage</a></li>
                                <li class="portfolioList"><a href="{{ project.git }}" target="_blank">Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
        <br>
    </div>

    <div id="info" class="p-12 text-light">
        <div class="container col-lg-12">

        <spicy-sections>

            <h2 id="hobbies" class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Hobbies</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <div class="d-flex flex-wrap border-dark justify-content-evenly">
                {% for hobby in hobbies %}
                    <div class="p-2 card" style="background: inherit; border: none;">
                        <img src="{{ hobby.avatar }}" class="rounded img-fluid hover-shadow" alt="{{ hobby.avatar }}" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));">
                        <div class="hobby-content">
                            <p style="font-size: 16px; text-align: center;">{{ hobby.hobby }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

            <h2 id="education" class="mt-3 text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Education</h2>
            <div>
            {% for degree in degrees %}
                <div class="divider-light divider-custom">
                    <div class="line text-light"></div>
                    <div class="star"><i class="fa fa-star"></i></div>
                    <div class="line text-light"></div>
                </div>
                <dl>
                    <dt class="text-danger" style="font-size: 1.25rem; text-shadow: 0 1px 1px #1A237E, 2px 2px 4px #000000;">{{ degree.degree }}</dt>
                    <div class="d-flex">
                        <div class="p-2">
                            <table class="table table-hover table-borderless table-responsive text-light" style="background: inherit; border: none;">
                                <thead>
                                    <tr>
                                        <th>Institution</th>
                                        {% if degree.grade %}
                                            <th>Grade</th>
                                        {% endif %}
                                        <th>Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-light">{{ degree.institution }}</td>
                                        {% if degree.grade %}
                                            <td class="text-light">
                                                {{ degree.grade }}
                                            </td>
                                        {% endif %}
                                        <td class="text-light">{{ degree.year }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </dl>
            {% endfor %}
            </div>

            <h2 id="strengths" class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Strengths</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <dl>
                {% for skill in skills %}
                    <li class="portfolioList">{{ skill.skill }}</li>
                {% endfor %}
            </dl>
            </div>

{#            <br>#}

            <h2 id="experience" class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Experience</h2>
            <div>
            {% for job in jobs %}
                <div class="divider-light divider-custom">
                    <div class="line text-light"></div>
                    <div class="star"><i class="fa fa-star"></i></div>
                    <div class="line text-light"></div>
                </div>
                <dl>
                    <dt class="text-danger" style="font-size: 1.25rem; text-shadow: 0 1px 1px #1A237E, 2px 2px 4px #000000;">{{ job.description }}</dt>
                    <div class="d-flex">
                        <div class="p-2">
                            <dd><strong>Company:</strong> {{ job.company }}</dd>
                        </div>
                    </div>
                </dl>
            {% endfor %}
            </div>

            <h2 id="contact" class="text-info" style="drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5)); text-shadow: 2px 2px 4px #000000;">Contact</h2>
            <div>
            <div class="divider-light divider-custom">
                <div class="line text-light"></div>
                <div class="star"><i class="fa fa-star"></i></div>
                <div class="line text-light"></div>
            </div>
            <dl>
                <dd><i class="fa fa-envelope text-danger"></i> {{ user.email }}</dd>
                <dd><i class="fa fa-phone-square text-danger"></i> {{ user.number }}</dd>
            </dl>
            </div>
        </spicy-sections>
        </div>
        <br>
    </div>

    <div class="p-0 footer p-4 bg-black">
        <p>Portfolio website</p>
    </div>

</div>

    <script>
        var aboutInner = document.getElementById('about-inner');
        var home = document.getElementById('home');

        function fadeOutOnScroll(element) {

            if (!element) {
                return;
            }

            var distanceToTop = window.pageYOffset + element.getBoundingClientRect().top;
            var elementHeight = element.offsetHeight;
            var scrollTop = document.documentElement.scrollTop;

            var opacity = 1;

            if (scrollTop > distanceToTop) {
                opacity = 1 - (scrollTop - distanceToTop) / elementHeight;
            }

            if (opacity >= 0) {
                element.style.opacity = opacity;
            }
        }

        function scrollHandler() {
            fadeOutOnScroll(aboutInner);
            fadeOutOnScroll(home);
        }

        window.addEventListener('scroll', scrollHandler);

    </script>

{% endblock content %}