<!-- Nav tabs -->
<nav class="navbar navbar-expand-sm bg-black navbar-dark fixed-top inline-group">
    <div class="container-fluid">
        <a id="initials" class="navbar-brand disabled text-danger"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="p-0 collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="d-flex navbar-nav portfolio-nav">
                <li class="nav-item link">
                    <a class="nav-link link" href="#about">About</a>
                </li>
                <li class="nav-item link">
                    <a class="nav-link link" href="#programming">Programming</a>
                </li>
                <li class="nav-item link">
                    <a class="nav-link link" href="#projects">Projects</a>
                </li>
                <li class="nav-item link">
                    <a class="nav-link link" href="#info">More info</a>
                </li>
                <li class="nav-item link subnav">
                    <button class="subnavbtn nav-link" href="/">Documents <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a class="link" href="{% url 'get document' %}?type=cv" target="_blank">CV</a>
                        <a class="link" href="{% url 'get document' %}?type=record" target="_blank">Academic Record</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">

    let name = "{{ user.name }}" + ' ' + "{{ user.surname }}";
    let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');

    let initials = [...name.matchAll(rgx)] || [];

    initials = (
      (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
    ).toUpperCase();

    document.getElementById("initials").innerHTML = initials

     $(function(){
         const navMain = $("#collapsibleNavbar");
         navMain.on("click", ".link", null, function () {
             navMain.collapse('hide');
         });
     });

</script>