<!-- Nav tabs -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a id="initials" class="navbar-brand disabled text-danger">Initials</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav portfolio-nav">
                <li class="nav-item">
                    <a class="nav-link link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#programming">Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#info">More info</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/">Documents</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-black link" href="{% url 'get document' %}?type=cv" target="_blank">CV</a></li>
                        <li><a class="dropdown-item text-black link" href="{% url 'get document' %}?type=record" target="_blank">Academic Record</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">

    let name = "{{ user.name }}" + ' ' + "{{ user.surname }}";
    let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');

    let initials = [...name.matchAll(rgx)] || [];

    initials = (
      (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
    ).toUpperCase();

    document.getElementById("initials").innerHTML = initials

     $(function(){
         const navMain = $("#collapsibleNavbar");
         navMain.on("click", ".link", null, function () {
             navMain.collapse('hide');
         });
     });

</script>