{% extends 'admin/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container mt-3">
        <h1>Admin</h1>

        <form id="updateBioForm" method="post" action="{% url 'update bio' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class="mb-3 mt-3">
                <label for="bio">Bio:</label>
                <textarea class="form-control" rows="5" id="bio" name="text">{{ user.bio }}</textarea>
            </div>
            <button id="updateBioBtn" type="submit" class="btn btn-primary">Update</button>
        </form>

        <br>

        <div class="clearfix">
            <div class="float-end">
                <form method="post" action="{% url 'logout' %}" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button id="logoutBtn" type="submit" class="btn btn-success">Logout</button>
                </form>
            </div>
        </div>

    </div>

    <script>
        $('#logoutButton').on('click',function(){
            $.ajax({
                url: "http://127.0.0.1:8000/admin/logout",
                type: 'POST',
                headers: {
                    "Authorization": "Token " + $('{{ token }}').val()
                },
                async: false
            })
        });

        $('#updateBioBtn').on('click',function(){
            $.ajax({
                url: "http://127.0.0.1:8000/admin/update_bio",
                type: 'POST',
                data: {
                    bio: $('#bio').val()
                },
                contentType: 'application/json',
                headers: {
                        "Authorization": "Token " + $('{{ token }}').val()
                },
                async: false
            })
        });

    </script>

{% endblock content %}