{% extends "admin/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="container-fluid mt-lg-5">

        <br>

        <div class="container bg-white border">

            <br>

            <h1>Authorization</h1>

            <br>

            {% include 'admin/messages.html' %}

            <form id="submitForm">

                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="security_code" placeholder="Enter security code" name="security_code" required>
                    <label for="security_code">Security code</label>
                </div>

                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>

            </form>

            <br>

        </div>

    </div>
    <script>
        var authenticated = '{{ auth }}';
        console.log(authenticated);
        if (authenticated === 'True') {
            window.location.replace({% url 'details' %});
        }
        $(document).on('submit', '#submitForm', function(e) {

            document.getElementById("submitBtn").innerHTML = "<div class=\"spinner-border\"></div>";
            document.getElementById("submitBtn").disabled = true;

            /* stop form from submitting normally */
            e.preventDefault();

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '{% url 'authenticate' %}',
                headers:{
                  Authorization: 'Token {{ token }}'
                },
                data:{
                    security_code:$('#security_code').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success:function () {
                    window.location.reload(true);
                }
            });
        });
    </script>
{% endblock %}