{% extends "admin/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="container-fluid mt-lg-5">

        <br>

        <div class="container bg-white border">

            <br>

            <h1>Authorize</h1>

            {% if alert %}
                <div class="alert alert-danger">
                    <strong>{{ alert }}</strong>
                </div>
            {% endif %}

            <form method="post" action="{% url 'authenticate' %}" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}

                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="security_code" placeholder="Enter security code" name="security_code" required>
                    <label for="security_code">Security code</label>
                </div>

                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>

            </form>

            <br>

        </div>

    </div>

    <script>
        $('#submitButton').on('click',function(){
            $.ajax({
                url: "http://127.0.0.1:8000/admin/auth",
                type: 'POST',
                data: {
                    security_code: $('#security_code').val()
                },
                contentType: 'application/json',
                headers: {
                    "Authorization": "Token " + $('{{ token }}').val()
                },
                async: false
            })
        });
    </script>
{% endblock %}