{% extends 'admin/admin.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <script>
        document.getElementById("details").style.borderBottom = "3px solid white";

        function clickFunction(id, val) {
            if (document.getElementById(id).value.length === 0) {
                document.getElementById(id).value = val;
            }
        }

        function myFunction() {
            var i;
            var input = document.getElementsByTagName('input');
            var textarea = document.getElementById('bio');
            var bool = false;

            for (i = 0; i < input.length; i++) {
                val = input[i].value
                if (val.length > 0 && (input[i].name !== "csrfmiddlewaretoken")) {
                    bool = true;
                    if (input[i].name === 'file') {
                        console.log(name);
                        console.log($('#file')[0].files[0]);
                    }
                     break;
                }
            }

            if (!bool && textarea.value.length > 0) {
                bool = true;
            }

            if (bool) {
                document.getElementById("saveBtn").style.display = "block";
            } else {
                document.getElementById("saveBtn").style.display = "none";
            }
        }
    </script>

    <div class="container-fluid mt-lg-3">

        <div class="container-fluid bg-white border">

        <br>

        <h1>Details</h1>

        <br>

        {% include 'admin/messages.html' %}

        <form id="updateForm">
                <div class="mb-3 mt-3">
                    <div class="d-flex flex-wrap flex-column">
                        <div class="p-0">
                            <label for="file">Current display picture: </label>
                        </div>
                        <div class="p-0" style="height: 100px; width: 100px;">
                            <img src="{{ user.picture }}" class="rounded img-fluid float-start" alt="not found"/>
                        </div>
                        <br><br>
                        <div class="p-0">
                            <label for="file">Choose another picture: </label>
                            <input type="file" oninput="myFunction()" class="form-control"  id="file" name="file">
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <label for="email">Email:</label>
                    <input type="email" onclick="clickFunction(this.id, '{{ user.email }}')" oninput="myFunction()" class="form-control" id="email" name="email" placeholder="{{ user.email }}">
                </div>
                <div class="mb-3 mt-3">
                    <label for="name">Name:</label>
                    <input type="text" onclick="clickFunction(this.id, '{{ user.name }}')" oninput="myFunction()" class="form-control" id="name" name="name" placeholder="{{ user.name }}">
                </div>
                <div class="mb-3 mt-3">
                    <label for="surname">Surname:</label>
                    <input type="text" onclick="clickFunction(this.id, '{{ user.surname }}')" oninput="myFunction()" class="form-control" id="surname" name="surname" placeholder="{{ user.surname }}">
                </div>
                <div class="mb-3 mt-3">
                    <div class="d-flex flex-column">
                        <div class="p-0">
                            <label for="number">Number: </label>
                        </div>
                        <div class="p-0">
                            <input type="tel" onclick="clickFunction(this.id, '{{ user.number }}')" oninput="myFunction()" class="form-control" id="number" name="number" placeholder="{{ user.number }}" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <label for="bio">Bio:</label>
                    <textarea class="form-control" onclick="clickFunction(this.id, '{{ user.bio }}')" oninput="myFunction()" rows="5" id="bio" name="bio" placeholder="{{ user.bio }}"></textarea>
                </div>
                <div class="clearfix">
                    <div class="float-end">
                        <button id="saveBtn" type="submit" class="btn" style="display: none"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                    </div>
                </div>
            </form>

            <a href="http://127.0.0.1:8000/password">Reset password</a>

            <br><br>

        </div>

        <br>

    </div>

    <div style="height: 100%">

    </div>

    <script>
        const phoneInputField = document.querySelector("#number");
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "za",
            utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        $(document).on('submit', '#updateForm', function(e) {

            document.getElementById("saveBtn").innerHTML = "<div class=\"spinner-border\"></div>";
            document.getElementById("saveBtn").disabled = true;

            var i, val, name;
            var data = new FormData();
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            var input = document.getElementsByTagName('input');

            for (i = 0; i < input.length; i++) {
                name = input[i].name;
                val = input[i].value;
                if ((val.length > 0) && !data.has(name)) {
                    if (name !== 'file') {
                        data.append(name, val);
                    } else {
                        val = $('#file')[0].files[0];
                        data.append(name, val);
                    }
                }
            }

            var textarea = document.getElementById('bio');

            if (textarea.value.length > 0) {
                data.append(textarea.name, textarea.value)
            }

            e.preventDefault();

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '{% url 'update details' %}',
                headers:{
                  Authorization: 'Token {{ token }}'
                },
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success:function () {
                    window.location.reload(true);
                }
            });
        });
    </script>

{% endblock content %}