{% extends 'admin/admin.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}

    <script>
        document.getElementById("documents").style.borderBottom = "3px solid white";
        function uploadCv() {
            var bool = false;
            var input;

            input = document.getElementById("uploadCvFile");
            if (input !== undefined) {
                if (input.value.length > 0) {
                    bool = true;
                }
            }

            if (bool) {
                document.getElementById("uploadCvBtn").style.display = "block";
            } else {
                document.getElementById("uploadCvBtn").style.display = "none";
            }
        }
        function uploadRecord() {
            var bool = false;
            var input;

            input = document.getElementById("uploadRecordFile");
            if (input !== undefined) {
                if (input.value.length > 0) {
                    bool = true;
                }
            }

            if (bool) {
                document.getElementById("uploadRecordBtn").style.display = "block";
            } else {
                document.getElementById("uploadRecordBtn").style.display = "none";
            }
        }
        function update(id) {
            var bool = false;
            var input;

            var inputId = "updateFile" + id;

            input = document.getElementById(inputId);
            if (input !== undefined) {
                if (input.value.length > 0) {
                    bool = true;
                }
            }

            var btn = "saveBtn" + id;

            if (bool) {
                document.getElementById(btn).style.display = "block";
            } else {
                document.getElementById(btn).style.display = "none";
            }
        }
    </script>

    <div class="container-fluid mt-lg-5">

        <br>

        <h1>Documents</h1>


        <br>

        {% if alert %}
            <div class="alert alert-danger">
                <strong>{{ alert }}</strong>
            </div>
        {% endif %}

        <br>

        <script>
            const types = []

            function add(name) {
                if(types.indexOf(name) === -1)
                    types.push(name);
            }
        </script>

        {% for document in documents %}
            <div class="container-fluid bg-white border">
                <br>
                <form id="updateForm{{ document.id }}" method="post" action="{% url 'upload document' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <label id="{{ document.type }}Label1" for="{{ document.type }}">{{ document.type }}</label>
                    <iframe id="{{ document.type }}" src="{% static document.file  %}#toolbar=0" width="100%" height="500px"></iframe>
                    <label id="{{ document.type }}Label2" for="updateFile{{ document.id }}">Choose another {{ document.type }}: </label>
                    <input type="hidden" class="form-control" name="type" value="{{ document.type }}" required>
                    <input type="file" oninput="update({{ document.id }})" class="form-control" id="updateFile{{ document.id }}" name="file" required>

                    <br>

                </form>

                <div class="clearfix">
                    <div class="float-end">
                        <button id="saveBtn{{ document.id }}" type="submit" class="btn" form="updateForm{{ document.id }}" style="display: none"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                    </div>
                    <div class="float-end">
                        <form method="post" action="{% url 'delete document' %}?type={{ document.type }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn"><i class="fa fa-trash text-secondary" style="font-size:36px"></i></button>
                        </form>
                    </div>
                </div>

                <br>

            </div>

            <br>

            <script type="text/javascript">
                if ("{{ document.type }}" === "cv") {
                    add("cv")
                    document.getElementById("{{ document.type }}Label1").innerHTML = "Current CV:";
                    document.getElementById("{{ document.type }}Label2").innerHTML = "Replace CV:";
                } else {
                    add("record")
                    document.getElementById("{{ document.type }}Label1").innerHTML = "Current academic record:";
                    document.getElementById("{{ document.type }}Label2").innerHTML = "Replace academic record:";
                }
            </script>

        {% endfor %}

        <div id="uploadCvBorder" class="container-fluid bg-white border" style="display: none">
            <br>
            <form id="uploadCvForm" method="post" action="{% url 'upload document' %}" enctype="multipart/form-data" style="display: none">
                {% csrf_token %}
                {{form|crispy}}
                <label for="uploadCvFile">Upload CV: </label>
                <input type="hidden" class="form-control" name="type" value="cv" required>
                <input type="file" oninput="uploadCv()" class="form-control" id="uploadCvFile" name="file" required>
                <br>
            </form>
            <div class="clearfix">
                <div class="float-end">
                    <button id="uploadCvBtn" type="submit" class="btn" form="uploadCvForm" style="display: none"><i class="fa fa-upload text-secondary" style="font-size:36px;"></i></button>
                </div>
            </div>
            <br>
        </div>

        <br>

        <div id="uploadRecordBorder" class="container-fluid bg-white border" style="display: none">
            <br>
            <form id="uploadRecordForm" method="post" action="{% url 'upload document' %}" enctype="multipart/form-data" style="display: none">
                {% csrf_token %}
                {{form|crispy}}
                <label for="uploadRecordFile">Upload Record: </label>
                <input type="hidden" class="form-control" name="type" value="record" required>
                <input type="file" oninput="uploadRecord()" class="form-control" id="uploadCvFile" name="file" required>
                <br>
            </form>
            <div id="recordButtons" class="clearfix">
                <div class="float-end">
                    <button id="uploadRecordBtn" type="submit" class="btn" form="uploadRecordForm" style="display: none"><i class="fa fa-upload text-secondary" style="font-size:36px;"></i></button>
                </div>
            </div>
            <br>
        </div>

        <br>

        <script>
            if(types.indexOf("cv") === -1) {
                document.getElementById("uploadCvForm").style.display = "block";
                document.getElementById("uploadCvBorder").style.display = "block";
            } else {
                document.getElementById("uploadCvForm").style.display = "hidden";
                document.getElementById("uploadCvBorder").style.display = "hidden";
            }
            if(types.indexOf("record") === -1) {
                document.getElementById("uploadRecordForm").style.display = "block";
                document.getElementById("uploadRecordBorder").style.display = "block";
            } else {
                document.getElementById("uploadRecordForm").style.display = "hidden";
                document.getElementById("uploadRecordBorder").style.display = "hidden";
            }
        </script>

{#        <div class="clearfix">#}
{#            <div class="float-end">#}
{#                <form method="post" action="{% url 'logout' %}" class="form-group" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    {{form|crispy}}#}
{#                    <button id="logoutBtn" type="submit" class="btn btn-danger">Logout</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

    </div>

{% endblock %}