{% extends 'admin/admin.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <script>
        document.getElementById("education").style.borderBottom = "3px solid white";
        function clickFunction(id, val) {
            if (document.getElementById(id).value.length === 0) {
                document.getElementById(id).value = val;
            }
        }
        function change(id) {
            var bool = false;
            var input, ul, li, divs, form, i, j;
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                form = li[i].getElementsByTagName("form")[0];
                divs =  form.getElementsByTagName("div");
                for (j= 0; j < divs.length; j++) {
                    input = divs[j].getElementsByTagName("input")[0];
                    if (input !== undefined) {
                        if (input.value.length > 0) {
                            bool = true;
                            break;
                        }
                    }
                }
            }

            var btn = "saveBtn" + id;

            if (bool) {
                document.getElementById(btn).style.display = "block";
            } else {
                document.getElementById(btn).style.display = "none";
            }
        }
    </script>

    <div class="d-flex flex-row justify-content-start">

    <div class="p-0 bg-light border icon-bar">
        <a href="#add"><i class="fa fa-plus text-secondary"></i></a>
        <a href="#edit"><i class="fa fa-edit text-secondary"></i></a>
        <a href="#edit"><i class="fa fa-trash text-secondary"></i></a>
    </div>

    <div class="p-0 container-fluid" style="margin-left: 80px;">

        <br>

        <h1>Education</h1>

        <br>

        {% if alert %}
            <div class="alert alert-danger">
                <strong>{{ alert }}</strong>
            </div>
        {% endif %}

        <br>

        <h3 id="add">Add education</h3>
        <div class="container-fluid bg-white border">
            <form method="post" action="{% url 'add education' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <div class="mb-3 mt-3">
                    <label for="addEducation">Degree:</label>
                    <input type="text" class="form-control" id="addEducation" name="degree" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="addGrade">Grade: </label>
                    <input type="text" class="form-control"  id="addGrade" name="grade">
                </div>
                <div class="mb-3 mt-3">
                    <label for="addInstitution">Institution: </label>
                    <input type="text" class="form-control"  id="addInstitution" name="institution" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="addYear">Year: </label>
                    <input type="text" class="form-control"  id="addYear" name="year" required>
                </div>

                <div class="clearfix">
                    <div class="float-end">
                        <button type="submit" class="btn"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                    </div>
                </div>

            </form>

            <br>

        </div>

        <br><br>

        <h3 id="edit">Edit/delete education</h3>
        <div class="container-fluid bg-white border">
            <form method="post" onsubmit="myFunction(); return false;" class="form-group" enctype="multipart/form-data">
                {{form|crispy}}
                <div class="form-floating mt-3 mb-3">
                    <input id="myInput" onkeyup="myFunction()" type="text" class="form-control" placeholder="Search">
                    <label for="myInput">&#128269;</label>
                </div>
            </form>
        </div>
        <br>
        <ul id="myUL" class="list-group bg-white">
            {% for degree in degrees %}
                <li class="list-group-item">

                    <form id="updateForm{{ degree.id }}" method="post" action="{% url 'update education' %}?id={{ degree.id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="mb-3 mt-3">
                            <label for="update{{ degree.id }}">Degree:</label>
                            <input type="text" onclick="clickFunction(this.id, '{{ degree.degree }}')" oninput="change({{ degree.id }})" class="form-control" id="update{{ degree.id }}" name="degree" placeholder="{{ degree.degree }}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateGrade{{ degree.id }}">Grade: </label>
                            <input type="text" onclick="clickFunction(this.id, '{{ degree.grade }}')" oninput="change({{ degree.id }})" class="form-control"  id="updateGrade{{ degree.id }}" name="grade" placeholder="{{ degree.grade }}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateInstitution{{ degree.id }}">Institution: </label>
                            <input type="text" onclick="clickFunction(this.id, '{{ degree.institution }}')" oninput="change({{ degree.id }})" class="form-control"  id="updateInstitution{{ degree.id }}" name="institution" placeholder="{{ degree.institution }}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateYear{{ degree.id }}">Year: </label>
                            <input type="text" onclick="clickFunction(this.id, '{{ degree.year }}')" oninput="change({{ degree.id }})" class="form-control"  id="updateYear{{ degree.id }}" name="year" placeholder="{{ degree.year }}">
                        </div>
                    </form>

                    <div class="clearfix">
                        <div class="float-end">
                            <button id="saveBtn{{ degree.id }}" type="submit" class="btn" form="updateForm{{ degree.id }}" style="display: none"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                        </div>
                        <div class="float-end">
                            <form method="post" action="{% url 'delete education' %}?id={{ degree.id }}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <button type="submit" class="btn"><i class="fa fa-trash text-secondary" style="font-size:36px;"></i></button>
                            </form>
                        </div>
                    </div>

                    <br>

                </li>

            {% endfor %}

        </ul>

        <br>

{#        <div class="clearfix">#}
{#            <div class="float-end">#}
{#                <form method="post" action="{% url 'logout' %}" class="form-group" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    {{form|crispy}}#}
{#                    <button id="logoutBtn" type="submit" class="btn btn-danger">Logout</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

        <br>

    </div>

    </div>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, div, form, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                form = li[i].getElementsByTagName("form")[0];
                div =  form.getElementsByTagName("div")[0];
                input = div.getElementsByTagName("input")[0];
                txtValue = input.placeholder;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}