{% extends "admin/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-fluid mt-lg-5">

        <br>

        <div class="container bg-white border">

            <br>

            <h1>Login</h1>

            <form method="post" action="{% url 'login' %}" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}

                {% if alert %}
                    <div class="alert alert-danger">
                        <strong>{{ alert }}</strong>
                    </div>
                {% endif %}

                <div class="form-floating mt-3 mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                    <label for="email">Email</label>
                </div>

                    <div class="d-flex">
                        <div class="p-0 form-floating" style="width: 95%;">
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="p-0">
                            <i id="showIcon" class='fa fa-eye' style='font-size:64px; display: block;' onclick="myFunction()"></i>
                            <i id="hideIcon" class='fa fa-eye-slash' style='font-size:64px; display: none;' onclick="myFunction()"></i>
                        </div>
                    </div>

                <br>

                <div class="form-check mb-0">
                    <div class="clearfix">
                        <span class="float-start">
                            <input class="form-check-input me-2" type="checkbox" id="rememberMe" name="remember" />
                            <label class="form-check-label" for="rememberMe">
                            Remember me
                            </label>
                        </span>
                        <span class="float-end">
                            <a href="">Forgot password?</a>
                        </span>
                    </div>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Login</button>

            </form>

            <br>

        </div>

    </div>

    <script>
    function myFunction() {
        const x = document.getElementById("password");
        const show = document.getElementById("showIcon");
        const hide = document.getElementById("hideIcon");
        if (x.value.length > 0) {
            if (x.type === "password") {
                show.style.display = "none";
                hide.style.display = "block";
                x.type = "text";
            } else {
                hide.style.display = "none";
                show.style.display = "block";
                x.type = "password";
            }
        }
    }
    </script>

{% endblock %}