{% load crispy_forms_filters %}
<nav id="admin-navbar" class="navbar navbar-expand-sm navbar-light border">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon text-white"></span>
        </button>

        <div class="collapse navbar-collapse scrollmenu" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav admin-nav">
                <li class="nav-item">
                    <a id="details" class="nav-link text-white" href="{% url 'details' %}">Details</a>
                </li>
                <li class="nav-item">
                    <a id="documents" class="nav-link text-white" href="{% url 'documents' %}">Documents</a>
                </li>
                <li class="nav-item">
                    <a id="hobbies" class="nav-link text-white" href="{% url 'hobbies' %}">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a id="education" class="nav-link text-white" href="{% url 'education' %}">Education</a>
                </li>
                <li class="nav-item">
                    <a id="work" class="nav-link text-white" href="{% url 'work' %}">Work</a>
                </li>
                <li class="nav-item">
                    <a id="strengths" class="nav-link text-white" href="{% url 'strengths' %}">Strengths</a>
                </li>
                <li class="nav-item">
                    <a id="projs" class="nav-link text-white" href="{% url 'projects' %}">Projects</a>
                </li>
                <li class="nav-item">
                    <a id="languages" class="nav-link text-white" href="{% url 'languages' %}">Languages</a>
                </li>
                <li class="nav-item">
                    <a id="frameworks" class="nav-link text-white" href="{% url 'frameworks' %}">Frameworks</a>
                </li>
                <li class="nav-item">
                    <a id="databases" class="nav-link text-white" href="{% url 'databases' %}">Databases</a>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
            <form id="navLogoutForm">
                <button id="logoutBtn" type="submit" class="btn btn-light"><strong>Logout</strong></button>
            </form>
        </div>
    </div>


</nav>

<script>

    let isOpen = false;

    $(document).on('submit', '#navLogoutForm', function(e) {

        /* stop form from submitting normally */
        e.preventDefault();

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: '{% url 'logout' %}',
            headers:{
              Authorization: 'Token {{ token }}'
            },
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success:function () {
                window.location.reload(true);
            }
        });
    });

    $('.navbar-nav>li>a').on('click', function(){
        isOpen = false;
        close();
    });

    $('.navbar-toggler').on('click', function(){
        if (isOpen) {
            isOpen = false;
            close();
        } else {
            isOpen = true;
            open();
        }
    });

    function open() {
        document.getElementById("iconBar").style.display = "none";
    }

    function close() {
        document.getElementById("iconBar").style.display = "block";
    }
</script>