{% extends 'admin/admin.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <script>
        document.getElementById("projs").style.borderBottom = "3px solid white";
        function clickFunction(id, val) {
            if (document.getElementById(id).value.length === 0) {
                document.getElementById(id).value = val;
            }
        }
        function change(id) {
            var bool = false;
            var input, ul, li, divs, form, i, j;
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                form = li[i].getElementsByTagName("form")[0];
                divs =  form.getElementsByTagName("div");
                for (j= 0; j < divs.length; j++) {
                    input = divs[j].getElementsByTagName("input")[0];
                    if (input !== undefined) {
                        if (input.value.length > 0) {
                            bool = true;
                            break;
                        }
                    }
                }
            }

            var txtAreaName = "updateDescription" + id;
            var txtArea = document.getElementById(txtAreaName);

            if (!bool && txtArea.value.length > 0) {
                bool = true;
            }

            var btn = "saveBtn" + id;

            if (bool) {
                document.getElementById(btn).style.display = "block";
            } else {
                document.getElementById(btn).style.display = "none";
            }
        }
    </script>

    <div class="d-flex flex-row justify-content-start">

    <div id="iconBar" class="p-0 bg-light border icon-bar">
        <a href="#add"><i class="fa fa-plus text-secondary"></i></a>
        <a href="#edit"><i class="fa fa-edit text-secondary"></i></a>
        <a href="#edit"><i class="fa fa-trash text-secondary"></i></a>
    </div>

    <div class="p-0 container-fluid" style="margin-left: 80px;">

        <br>

        <h1>Projects</h1>

        <br>

        {% include 'admin/messages.html' %}

        <br>

        <h3 id="add">Add project</h3>
        <div class="container-fluid bg-white border">
            <form id="addProjectForm">
                <div class="mb-3 mt-3">
                    <label for="addTitle">Title:</label>
                    <input type="text" class="form-control" id="addTitle" name="title" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="addDescription">Description:</label>
                    <textarea class="form-control" oninput="myFunction()" rows="5" id="addDescription" name="description" required></textarea>
                </div>
                <div class="mb-3 mt-3">
                    <label for="addGit">Git: </label>
                    <input type="text" class="form-control"  id="addGit" name="git" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="addLink">Homepage: </label>
                    <input type="text" class="form-control"  id="addLink" name="link" required>
                </div>

                <div class="clearfix">
                    <div class="float-end">
                        <button type="submit" class="btn"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                    </div>
                </div>

            </form>

            <br>

        </div>

        <br><br>

        <h3 id="edit">Edit/delete project</h3>
        <div class="container-fluid bg-white border">
            <form method="post" onsubmit="myFunction(); return false;" class="form-group" enctype="multipart/form-data">
                <div class="form-floating mt-3 mb-3">
                    <input id="myInput" onkeyup="myFunction()" type="search" class="form-control" placeholder="Search">
                    <label for="myInput">&#128269;</label>
                </div>
            </form>
        </div>
        <br>
        <ul id="myUL" class="list-group bg-white">
            {% for proj in projects %}
                <li class="list-group-item">

                    <form id="updateForm{{ proj.id }}">
                        <div class="mb-3 mt-3">
                            <label for="updateTitle{{ proj.id }}">Title:</label>
                            <input type="text" onclick="clickFunction(this.id, '{{ proj.title }}')" oninput="change({{ proj.id }})" class="form-control" id="updateTitle{{ proj.id }}" name="title" placeholder="{{ proj.title }}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateDescription{{ proj.id }}">Description:</label>
                            <textarea class="form-control" onclick="clickFunction(this.id, '{{ proj.description }}')" oninput="change({{ proj.id }})" rows="5" id="updateDescription{{ proj.id }}" name="description" placeholder="{{ proj.description }}"></textarea>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateGit{{ proj.id }}">Git: </label>
                            <input type="text" onclick="clickFunction(this.id, '{{ proj.git }}')" oninput="change({{ proj.id }})" class="form-control"  id="updateGit{{ proj.id }}" name="git" placeholder="{{ proj.git }}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="updateLink{{ proj.id }}">Homepage: </label>
                            <input type="text" onclick="clickFunction(this.id, '{{ proj.link }}')" oninput="change({{ proj.id }})" class="form-control"  id="updateLink{{ proj.id }}" name="link" placeholder="{{ proj.link }}">
                        </div>
                    </form>

                    <div class="clearfix">
                        <div class="float-end">
                            <button id="saveBtn{{ proj.id }}" type="submit" class="btn" form="updateForm{{ proj.id }}" style="display: none"><i class="fa fa-save text-secondary" style="font-size:36px;"></i></button>
                        </div>
                        <div class="float-end">
                            <form id="deleteForm{{ proj.id }}">
                                <button type="submit" class="btn"><i class="fa fa-trash text-secondary" style="font-size:36px"></i></button>
                            </form>
                        </div>
                    </div>

                    <br>

                </li>

                <script>
                    $(document).on('submit', '#updateForm{{ proj.id }}', function(e) {
                        var data = new FormData();
                        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                        var i, divs, form, input;
                        form = document.getElementById("updateForm{{ proj.id }}");
                        divs = form.getElementsByTagName('div');

                        for (i = 0; i < divs.length; i++) {
                            input = divs[i].getElementsByTagName("input")[0];
                            if (input !== undefined) {
                                if (input.value.length > 0) {
                                    data.append(input.name, input.value);
                                }
                            }
                        }

                        var textarea = document.getElementById("updateDescription{{ proj.id }}");

                        if (textarea.value.length > 0) {
                            data.append(textarea.name, textarea.value);
                        }

                        e.preventDefault();

                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: '{% url 'update project' %}?id={{ proj.id }}',
                            headers:{
                              Authorization: 'Token {{ token }}'
                            },
                            data:data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 800000,
                            success:function () {
                                window.location.reload(true);
                            }
                        });
                    });

                    $(document).on('submit', '#deleteForm{{ proj.id }}', function(e) {
                        var data = new FormData();
                        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                        e.preventDefault();

                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: '{% url 'delete project' %}?id={{ proj.id }}',
                            headers:{
                              Authorization: 'Token {{ token }}'
                            },
                            data:data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 800000,
                            success:function () {
                                window.location.reload(true);
                            }
                        });
                    });
                </script>

            {% endfor %}

        </ul>

        <br>

        <br>

    </div>

    </div>

    <div style="height: 100%">
    </div>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, div, form, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                form = li[i].getElementsByTagName("form")[0];
                div =  form.getElementsByTagName("div")[0];
                input = div.getElementsByTagName("input")[0];
                txtValue = input.placeholder;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        $(document).on('submit', '#addProjectForm', function(e) {
            var data = new FormData();

            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            data.append('title', $('#addTitle').val());
            data.append('description', $('#addDescription').val());
            data.append('git', $('#addGit').val());
            data.append('link', $('#addLink').val());

            e.preventDefault();

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '{% url 'add project' %}',
                headers:{
                  Authorization: 'Token {{ token }}'
                },
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success:function () {
                    window.location.reload(true);
                }
            });
        });

    </script>

{% endblock %}