{% extends 'admin/admin.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <script>
        document.getElementById("strengths").style.borderBottom = "3px solid white";
    </script>


    <div class="container-fluid mt-lg-5">

        <br>

        <h1>Strengths</h1>

        <br>

        {% if alert %}
            <div class="alert alert-danger">
                <strong>{{ alert }}</strong>
            </div>
        {% endif %}

        <br>

        <h3>Add strength</h3>
        <div class="container-fluid bg-white border">
            <form method="post" action="{% url 'add skill' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <div class="mb-3 mt-3">
                    <label for="addSkill">Strength:</label>
                    <input type="text" class="form-control" id="addSkill" name="skill" required>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>

            <br>

        </div>

        <br><br>

        <h3>Edit/delete strength</h3>
        <div class="container-fluid bg-white border">
            <form method="post" onsubmit="myFunction(); return false;" class="form-group" enctype="multipart/form-data">
                {{form|crispy}}
                <div class="form-floating mt-3 mb-3">
                    <input id="myInput" onkeyup="myFunction()" type="text" class="form-control" placeholder="Search for strengths...">
                    <label for="myInput">Search</label>
                </div>
            </form>
        </div>
        <br>
        <ul id="myUL" class="list-group bg-white">
            {% for skill in skills %}
                <li class="list-group-item">

                    <form id="updateForm{{ skill.id }}" method="post" action="{% url 'update skill' %}?id={{ skill.id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="mb-3 mt-3">
                            <label for="updateSkill{{ skill.id }}">Strength:</label>
                            <input type="text" class="form-control" id="updateSkill{{ skill.id }}" name="skill" placeholder="{{ skill.skill }}">
                        </div>
                    </form>

                    <div class="clearfix">
                        <div class="float-start">
                            <button type="submit" class="btn btn-primary" form="updateForm{{ skill.id }}">Update</button>
                        </div>
                        <div class="float-start">
                            <form method="post" action="{% url 'delete skill' %}?id={{ skill.id }}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>

                    <br>

                </li>

            {% endfor %}

        </ul>

        <br>

{#        <div class="clearfix">#}
{#            <div class="float-end">#}
{#                <form method="post" action="{% url 'logout' %}" class="form-group" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    {{form|crispy}}#}
{#                    <button id="logoutBtn" type="submit" class="btn btn-danger">Logout</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

        <br>

    </div>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, div, form, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                form = li[i].getElementsByTagName("form")[0];
                div =  form.getElementsByTagName("div")[0];
                input = div.getElementsByTagName("input")[0];
                txtValue = input.placeholder;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}