.about {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  p {
    i {
      @include gradientText;
      font-size: 64px;
    }
    font-size: x-large;
    white-space: normal;
  }
}