.edu-container {
    color: white;
    gap: 2rem;
    padding: 25px;
    position: relative;
    background-color: #181818;
    .design {
        width: 100%;
        h2 {
            text-align: start;
        }
        table {
            background: inherit;
            border: none;
            display:inline-block;
            max-width:100%;
            overflow: auto;
        }
    }
}