@media screen and (min-width: 280px) and (max-width: 1080px) {
  .about {
    margin: 0 10vw;
  }
  .portfolio {
    .portfolio__container {
      grid-template-columns: 1fr;
      color: white;
      gap: 2rem;
      .design {
        .proj-container {
          padding: 1rem;
        }
      }
    }
  }
  .skills {
    .content {
      flex-direction: column;
      text-align: center;
    }
  }
  .contact {
    flex-direction: column;
    margin: 2rem 10vw;
    gap: 5vw;
    .left {
      .form {
        input, textarea {
          padding-right: 10vw;
        }
      }
    }
  }
  .footer {
    padding: 50px;
    align-items: center;
  }
}

@media screen and (min-width: 280px) and (max-width: 1470px) {
    body {
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .defaultMargin {
      margin: 0 10vw;
    }
}

@media screen and (min-width: 280px) and (max-width: 1300px) {
    .navbar {
    .brand__container {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 2rem;
      width: 100%;
      .toggle {
        display: block;
      }
    }
    .links {
      display: none;
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 499px) {
  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    gap: 2rem;
    .content {
      align-items: center;
      .title {
        h1 {
          white-space: nowrap;
          font-size: 2rem;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
    .content {
      align-items: start;
      text-align: start;
      .title {
        h1 {
          white-space: normal;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 85%;
        width: 85%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1175px) {
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
    .content {
      align-items: start;
      text-align: start;
      .title {
        h1 {
          white-space: normal;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 100%;
        width: 100%;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      color: white;
      gap: 2rem;
    }
    .hobbies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        background-color: #181818;
    }
    .hobby h3 {
        font-size: small;
    }
    dt, dd {
        white-space: nowrap;
        font-size:small;
        overflow: auto;
    }
    .skillListItem {
        font-size:small;
    }
    .design h2 {
        font-size:small;
    }
    th, td {
        font-size:small;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      color: white;
      gap: 2rem;
    }
    dt, dd {
        white-space: nowrap;
        font-size:small;
        overflow: auto;
    }
    .skillListItem {
        font-size:small;
    }
    .design h2 {
        font-size:small;
    }
    th, td {
        font-size:small;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: white;
      gap: 2rem;
    }
    dt, dd {
        white-space: nowrap;
        font-size:medium;
        overflow: auto;
    }
    .skillListItem {
        font-size:medium;
    }
    .design h2 {
        font-size:medium;
    }
    th, td {
        font-size:medium;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
      gap: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
      gap: 2rem;
    }
}