@media screen and (min-width: 280px) and (max-width: 1080px) {
  .about {
    margin: 0 10vw;
  }
  .skills {
    .content {
      flex-direction: column;
      text-align: center;
    }
  }
  .contact {
    flex-direction: column;
    margin: 2rem 10vw;
    .left {
      .form {
        input, textarea {
          padding-right: 10vw;
        }
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 920px) {
  .footer {
    padding: 5vw 10vw;
    grid-template-columns: 1fr;
    gap: 10vw;
  }
  .lower__footer {
    flex-direction: column;
    text-align: center;
    padding: 5vw;
    gap: 1rem;
  }
}


@media screen and (min-width: 921px) and (max-width: 1446px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 280px) and (max-width: 1570px) {
    body {
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .defaultMargin {
      margin: 0 10vw;
    }
}

@media screen and (min-width: 280px) and (max-width: 1199px) {
  .navbar {
    .brand__container {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 2rem;
      width: 100%;
      .toggle {
        display: block;
      }
    }
    .links {
      display: none;
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 319px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
    .stack {
      font-size: small;
    }
  }
  dt {
    white-space: nowrap;
    font-size: 1rem;
  }
  .navbar {
    .brand__container {
      .brand {
        font-size: small;
      }
    }
  }
  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    gap: 2rem;
    .content {
      align-items: center;
      .title {
        h1 {
          white-space: normal;
          font-size: 1.6rem;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 499px) {
  dt {
    white-space: nowrap;
    font-size: 1.125rem;
  }
  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    gap: 2rem;
    .content {
      align-items: center;
      .title {
        h1 {
          white-space: nowrap;
          font-size: 2rem;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
  }
}

@media screen and (min-width: 545px) and (max-width: 632px) {
  .container {
    .stack {
      font-size: small;
    }
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  dt {
    white-space: nowrap;
    font-size: 1.125rem;
  }
  .navbar {
    .brand__container {
      .brand {
        font-size: small;
      }
    }
  }
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
    .content {
      align-items: start;
      text-align: start;
      .title {
        h1 {
          white-space: normal;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 80%;
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1175px) {
  dt {
    white-space: nowrap;
    font-size: 1.25rem;
  }
  .navbar {
    .brand__container {
      .brand {
        font-size: small;
      }
    }
  }
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
    .content {
      align-items: start;
      text-align: start;
      .title {
        h1 {
          white-space: normal;
        }
      }
    }
    .image {
      position: initial;
      img {
        position: initial;
        height: 75%;
        width: 75%;
      }
    }
  }
}

@media only screen and (min-width: 280px) and (max-width: 389px) {
  .hobbies-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 390px) and (max-width: 600px) {
  .hobbies-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    dd {
        white-space: nowrap;
        font-size:small;
        overflow: auto;
    }
    .skillListItem {
        font-size:small;
    }
    .design h2 {
        font-size:small;
    }
    th, td {
        font-size:small;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hobbies-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
      .stack {
        font-size: small;
      }
      display: grid;
      grid-template-columns: 50% 50%;
      color: white;
      gap: 2rem;
    }
    dd {
        white-space: nowrap;
        font-size:small;
        overflow: auto;
    }
    .skillListItem {
        font-size:small;
    }
    .design h2 {
        font-size:small;
    }
    th, td {
        font-size:small;
    }
}

@media only screen and (min-width: 616px) {
  .hobbies-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 633px) {
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      color: white;
      gap: 2rem;
      .stack {
        font-size: medium;
      }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hobbies-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
    dd {
        white-space: nowrap;
        font-size:medium;
        overflow: auto;
    }
    .skillListItem {
        font-size:medium;
    }
    .design h2 {
        font-size:medium;
    }
    th, td {
        font-size:medium;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hobbies-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .container {
      display: grid;
      grid-template-columns: 50% 50%;
      color: white;
      gap: 2rem;
    }
    dt {
      font-size: 1.25rem;
    }
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      color: white;
      gap: 2rem;
    }
}

@media only screen and (min-width: 1030px) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
      gap: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hobbies-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    dt {
      font-size: 1.25rem;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
      gap: 2rem;
    }
}