.toggle {
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  transform: translateY(10px);
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

.toggle.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.toggle.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.toggle.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}