@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #0b0b0b;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --gradient: linear-gradient(to right, #c5e35b, #45b649);
}

::-webkit-scrollbar {
  background-color: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background-color: #45b649;
}

.gradient {
  background: var(--gradient);
}

.defaultMargin {
  margin: 0 14rem;
}

button {
  color: white;
  padding: 1rem 1.8rem;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #dce35b, #45b649);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0b0b0b inset;
  border: solid 4px transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.spring {
  display: flex;
  align-items: center;
  margin: 6rem 0;
}
.spring .coil {
  border-top: white dashed 0.01rem;
  width: 49.75%;
}
.spring .bar {
  width: 0.5%;
  height: 7rem;
}

.spring.right {
  flex-direction: row-reverse;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  text-align: center;
}
.title__container h2 {
  white-space: nowrap;
  color: white;
}
.title__container p {
  width: 75vw;
  color: #999999;
}

h3 {
  color: white;
}

p {
  color: #818080;
}

.design {
  position: relative;
}
.design h2 {
  white-space: nowrap;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundL {
  height: 10rem;
  width: 12rem;
  background: linear-gradient(to right, #c5e35b, #45b649);
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -8px;
}

.backgroundR {
  height: 10rem;
  width: 12rem;
  background: linear-gradient(to right, #c5e35b, #45b649);
  position: absolute;
  z-index: -1;
  right: -10px;
  bottom: -8px;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 10px 40px 20px 30px;
}

tr {
  white-space: nowrap;
}

.loader {
  border: 7px solid transparent;
  border-radius: 50%;
  border-top: 7px solid #45b649;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #303030;
  z-index: 20;
  padding: 1rem 1.3rem;
  border-radius: 5rem;
  cursor: pointer;
}
.scrollToTop i {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
  padding: 2rem 0;
}
.navbar .brand__container {
  display: flex;
}
.navbar .brand__container .brand h2 span {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #45b649;
}
.navbar .brand__container .toggle {
  display: none;
}
.navbar .links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .links ul li a {
  text-decoration: none;
  color: inherit;
}
.navbar .links ul li a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .links ul li i:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .links ul li .dropdown-content {
  flex-direction: column;
  position: absolute;
  background-color: #181818;
}
.navbar .links ul li .dropdown-content a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar .links ul li .dropdown-content a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .links ul button {
  background-color: black;
  padding: 0.5rem;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}

.responsive__navbar {
  position: fixed;
  top: 0;
  right: -350px;
  height: 100%;
  width: 70%;
  background-color: black;
  z-index: 100;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  color: white;
  padding: 3rem 0;
}
.responsive__navbar .brand {
  display: flex;
  margin-bottom: 2rem;
}
.responsive__navbar .brand h2 {
  font-size: 1.2rem;
}
.responsive__navbar .brand h2 span {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #45b649;
}
.responsive__navbar .links ul {
  margin: 2vw;
}
.responsive__navbar .links ul li {
  margin: 2vh;
  font-size: 2.5vh;
}
.responsive__navbar .links ul li a {
  text-decoration: none;
  color: inherit;
}
.responsive__navbar .links ul li .dropdown button {
  width: 100%;
}
.responsive__navbar .links ul li .dropdown .dropdown-content {
  flex-direction: column;
  position: absolute;
  background-color: #181818;
}
.responsive__navbar .links ul li .dropdown .dropdown-content a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.responsive__navbar .links ul li .dropdown .dropdown-content a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.responsive__navbar .links ul button {
  background-color: #0b0b0b;
  width: 100%;
}
.responsive__navbar .links ul ul {
  display: flex;
}

.nav__a {
  width: 100%;
  display: block;
}
.nav__a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  height: 60vh;
}
.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.hero .content .title h1 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vw;
}
.hero .content .title p {
  color: white;
}
.hero .image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.hero .image img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: contrast(140%);
  z-index: -1;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skills .content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.skills .content .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.circular {
  height: 100px;
  width: 100px;
  position: relative;
}
.circular .inner {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #0b0b0b;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  font-size: 1.3rem;
  font-weight: 700;
  color: #999999;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--gradient);
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  transform: rotate(250deg);
}

.three .bar {
  clip: rect(0px, 100px, 100px, 40px);
}

.two .bar {
  clip: unset;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 2rem;
}

.portfolio {
  position: relative;
}
.portfolio .portfolio__container {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  gap: 2rem;
}
.portfolio .portfolio__container .design .proj-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #181818;
  padding: 2rem;
  text-align: center;
}

.proj__link {
  display: inline-block;
  white-space: nowrap;
  filter: hue-rotate(90deg);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.proj__link:hover {
  filter: hue-rotate(180deg);
}

.programming {
  display: flex;
  flex-direction: column;
  position: relative;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #181818;
  padding: 2rem;
  text-align: center;
}
.stack img {
  width: 5rem;
  height: 5rem;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 4rem 20rem;
  gap: 3rem;
}
.contact .right {
  width: 26rem;
}
.contact .left .title .bar {
  height: 0.5rem;
  width: 5rem;
  background: var(--gradient);
  margin-bottom: 1rem;
}
.contact .left form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0;
  gap: 1rem;
}
.contact .left form input, .contact .left form textarea {
  width: 75%;
  padding: 0.8rem 0.9rem 0.8rem 1rem;
  background-color: transparent;
  border: 1px solid #818080;
  color: white;
}
.contact .map {
  height: 400px;
  width: 100%;
}

footer {
  background-color: #181818;
  align-items: center;
  gap: 5rem;
  padding: 5rem 5rem;
  color: #818080;
}
footer .section .brand h2 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .about {
    margin: 0 10vw;
  }

  .portfolio .portfolio__container {
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
  }
  .portfolio .portfolio__container .design .proj-container {
    padding: 1rem;
  }

  .skills .content {
    flex-direction: column;
    text-align: center;
  }

  .contact {
    flex-direction: column;
    margin: 2rem 10vw;
    gap: 5vw;
  }
  .contact .left .form input, .contact .left .form textarea {
    padding-right: 10vw;
  }

  .footer {
    padding: 50px;
    align-items: center;
  }
}
@media screen and (min-width: 280px) and (max-width: 1470px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .defaultMargin {
    margin: 0 10vw;
  }
}
@media screen and (min-width: 280px) and (max-width: 1300px) {
  .navbar .brand__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    width: 100%;
  }
  .navbar .brand__container .toggle {
    display: block;
  }
  .navbar .links {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 319px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
  }
  .container .stack {
    font-size: small;
  }

  dt {
    white-space: nowrap;
    font-size: 1rem;
  }

  .navbar .brand__container .brand {
    font-size: small;
  }

  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
  .hero .content {
    align-items: center;
  }
  .hero .content .title h1 {
    white-space: normal;
    font-size: 1.6rem;
  }
  .hero .image {
    position: initial;
  }
  .hero .image img {
    position: initial;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  dt {
    white-space: nowrap;
    font-size: 1.125rem;
  }

  .hero {
    margin: 0 10vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
  .hero .content {
    align-items: center;
  }
  .hero .content .title h1 {
    white-space: nowrap;
    font-size: 2rem;
  }
  .hero .image {
    position: initial;
  }
  .hero .image img {
    position: initial;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 2rem;
  }
}
@media screen and (min-width: 545px) and (max-width: 632px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }
  .container .stack {
    font-size: small;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  dt {
    white-space: nowrap;
    font-size: 1.125rem;
  }

  .navbar .brand__container .brand {
    font-size: small;
  }

  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
  }
  .hero .content {
    align-items: start;
    text-align: start;
  }
  .hero .content .title h1 {
    white-space: normal;
  }
  .hero .image {
    position: initial;
  }
  .hero .image img {
    position: initial;
    height: 80%;
    width: 80%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1175px) {
  dt {
    white-space: nowrap;
    font-size: 1.25rem;
  }

  .navbar .brand__container .brand {
    font-size: small;
  }

  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    overflow: hidden;
  }
  .hero .content {
    align-items: start;
    text-align: start;
  }
  .hero .content .title h1 {
    white-space: normal;
  }
  .hero .image {
    position: initial;
  }
  .hero .image img {
    position: initial;
    height: 75%;
    width: 75%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hobbies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    background-color: #181818;
  }

  .hobby h3 {
    font-size: small;
  }

  dd {
    white-space: nowrap;
    font-size: small;
    overflow: auto;
  }

  .skillListItem {
    font-size: small;
  }

  .design h2 {
    font-size: small;
  }

  th, td {
    font-size: small;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }
  .container .stack {
    font-size: small;
  }

  dd {
    white-space: nowrap;
    font-size: small;
    overflow: auto;
  }

  .skillListItem {
    font-size: small;
  }

  .design h2 {
    font-size: small;
  }

  th, td {
    font-size: small;
  }
}
@media only screen and (min-width: 633px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }
  .container .stack {
    font-size: medium;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }

  dd {
    white-space: nowrap;
    font-size: medium;
    overflow: auto;
  }

  .skillListItem {
    font-size: medium;
  }

  .design h2 {
    font-size: medium;
  }

  th, td {
    font-size: medium;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }

  dt {
    font-size: 1.25rem;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1030px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 2rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  dt {
    font-size: 1.25rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 2rem;
  }
}
.edu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 2rem;
  padding: 25px;
  position: relative;
  background-color: #181818;
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 2rem;
  padding: 25px;
  position: relative;
  background-color: #181818;
}

.hobbies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 25px;
  position: relative;
  background-color: #181818;
}

.hobby {
  text-align: center;
}
.hobby img {
  width: 5rem;
  height: 5rem;
  filter: brightness(0) invert(1);
}

.strengths-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 2rem;
  padding: 50px 25px;
  position: relative;
  background-color: #181818;
}

.skillListItem {
  width: 100%;
  display: inline-block;
  background: inherit;
  border: none;
  white-space: nowrap;
}
.skillListItem i {
  font-size: 12px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=index.css.map */
